<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Check My Game</title>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="{{url_for('static', filename='bungie_api.js')}}"></script> 
    <script src="{{url_for('static', filename='searchPlayer.js')}}"></script> 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <h3>Check my game</h3>
        <input id="player-search-input" placeholder="Search a player...">
        <button id="player-search-btn">Search</button>
    </nav>
    
    <div id="search-alert" class="alert alert-warning alert-dismissible collapse" role="alert">
        An error has occurred when contacting BungieAPI.
        <button type="button" id="search-alert-close-btn" class="btn-close alert-close" aria-label="Close"></button>
    </div>

    {# Platform modal #}
    <div id="platformModal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        Choose platform
                    </h5>
                    <button type="button" class="close btn-close-modal" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {# Dynamically added here #}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-close-modal" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    

    {% block content %}{% endblock %}
    
    {% block content_script %}{% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>