{% extends "base.html" %}

{% block content %}

    <div class="position-absolute top-0 end-0">
        <p id="carnage-date"></p>
        <p id="carnage-duration"></p>
    </div>
    
    <div class=""container>
        <div class="row">
            <div class="col-sm-4">
                <p>Winner</p>
                <p id="winner-score">-</p>
            </div>
            <div class="col-sm-4">
                <p>Loser</p>
                <p id="loser-score">-</p>
            </div>
        </div>
    
        <div>
            <input type="range" name="chance of winning" min="0" max="100" value="63" disabled="true">
        </div>
    </div>
    
    <div class="container">
        <h2>Alpha</h2>
        <table class="table" id="alpha-scoreboard">
            <thead>
            <tr>
                <th>Player</th>
                <th>Score</th>
                <th>Kills</th>
                <th>Assists</th>
                <th>Deaths</th>
                <th>KD</th>
                <th>KDA</th>
            </tr>
            </thead>
            <tbody>
                {# Dynamically added here#}
            </tbody>
        </table>
    </div>
    
    <div class="container">
        <h2>Beta</h2>
        <table class="table" id="beta-scoreboard">
            <thead>
            <tr>
                <th>Player</th>
                <th>Score</th>
                <th>Kills</th>
                <th>Assists</th>
                <th>Deaths</th>
                <th>KD</th>
                <th>KDA</th>
            </tr>
            </thead>
            <tbody>
                {# Dynamically added here#}
            </tbody>
        </table>
    </div>
    
{% endblock %}

{% block content_script %}
    <script src="{{url_for('static', filename='carnageReportPage.js')}}"></script> 
{% endblock %}
