{% extends "base.html" %}

{% block content %}
    <div class="container">
        <h1 class="display-1">Check My Game</h1>
        <input id="player-search-input" placeholder="Search a player...">
    </div>

    <div id="search-alert" class="alert alert-warning alert-dismissible collapse" role="alert">
        An error has occurred when contacting BungieAPI.
        <button type="button" id="search-alert-close-btn" class="btn-close alert-close" aria-label="Close"></button>
    </div>

    {# Platform modal #}
    <div id="platformModal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        Choose platform
                    </h5>
                    <button type="button" class="close btn-close-modal" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {# Dynamically added here #}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-close-modal" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block content_script %}
    <script>

        window.onload = (event) => {
            // on close alert
            $(document).on('click', '.alert-close', function () {
                $(this).parent().hide();
            })

            // on search player
            $('#player-search-input').keydown(function (event) {
                if (event.which === 13) {
                    searchPlayer($(this).val());
                }
            });

            // Callback on select platform btn
            $(document).on('click', '.btn-platform', function () {
                window.location.href = $(this).data()["target_url"];
            })
            
            // Callback close platform modal
            $(document).on('click', '.btn-close-modal', function () {
                $('#platformModal').modal('hide');
            })
        };

        function showAlert(message) {
            const alert = $('#search-alert');
            alert.text(message);

            alert.clearQueue();
            alert.show();
            alert.delay(5000).fadeOut(800);
        }

        function showModal(profiles, query) {
            $('.modal-body').empty();
            for (const profile of profiles) {
                query.set("membership_id", profile["membershipId"]);
                query.set("membership_type", profile["membershipType"]);
                let template = `
                    <button type="button" class="btn btn-dark btn-platform" data-target_url=${'/player?' + query.toString()}>
                        ${BungieAPI.getMembershipTypeStr([profile["membershipType"]])}
                    </button>
                `;
                $('.modal-body').append(template);
            }
            $("#platformModal").modal('show');
        }

        async function searchPlayer(playerName) {
            const [displayName, displayNameCode] = playerName.split('#');
            let result = await bungieAPI.searchPlayer(displayName, displayNameCode);
            if (result) {
                if (result["ErrorCode"] !== 1 || result["Response"].length == 0) {
                    showAlert(`Player ${playerName} not found.`);
                } else {
                    // Init query
                    let query = new URLSearchParams();
                    query.append("membership_id", result["Response"][0]["membershipId"]);
                    query.append("membership_type", result["Response"][0]["membershipType"]);
                    query.append("display_name", displayName);
                    query.append("display_name_code", displayNameCode);
                    
                    // Check if player played on different platforms
                    if (result["Response"].length > 1) {
                        showModal(result["Response"], query);
                    } else {
                        window.location.href = '/player?' + query.toString();
                    }
                }
            }
        }
    </script>
{% endblock %}
