{% extends "base.html" %}

{% block content %}
    <div class="container">
        <h1 class="display-1">Check My Game</h1>
        <input id="player-search-input" placeholder="Search a player...">
    </div>

    <div id="search-alert" class="alert alert-warning alert-dismissible collapse" role="alert">
        An error has occurred when contacting BungieAPI.
        <button type="button" id="search-alert-close-btn" class="btn-close alert-close" aria-label="Close"></button>
    </div>
    
{% endblock %}

{% block content_script %}
    <script>

        window.onload = (event) => {
            // on close alert
            $(document).on('click', '.alert-close', function () {
                $(this).parent().hide();
            })
            
            // on search player
            $('#player-search-input').keydown(function (event) {
                if (event.which === 13) {
                    searchPlayer($(this).val());
                }
            });
        };
        
        function showAlert(message){
            const alert = $('#search-alert');
            alert.text(message);
            
            alert.clearQueue();
            alert.show();
            alert.delay(5000).fadeOut(800);
        }

        async function searchPlayer(playerName) {
            const [displayName, displayNameCode] = playerName.split('#');
            let result = await bungieAPI.searchPlayer(displayName, displayNameCode);
            if (result) {
                if (result["ErrorCode"] !== 1 || result["Response"].length == 0) {
                    showAlert(`Player ${playerName} not found.`);
                }
                else
                {
                    // redirect towards player page
                    let query = new URLSearchParams();
                    query.append("membership_id", result["Response"][0]["membershipId"]);
                    query.append("membership_type", result["Response"][0]["membershipType"]);
                    query.append("display_name", displayName);
                    query.append("display_name_code", displayNameCode);
                    window.location.href = '/player?' + query.toString();
                }
            }
        }
    </script>
{% endblock %}
