{% extends "base.html" %}

{% block content %}

    <div class="" container>
        <h1 id="guardian-name">Breeky</h1>
        <select name="character" id="character-select" onchange="refreshTables()">
            <option value="a">Character 1</option>
            <option value="b">Character 2</option>
            <option value="c">Character 3</option>
        </select>
    </div>

    <div class="container">
        <h2>Stats</h2>
        
        <select name="period" id="period-select" onchange="fillStatsTable()">
            <option value="allTime">All time</option>
            <option value="seasonal">Seasonal</option>
            <option value="weekly">Weekly</option>
        </select>
        
        <select name="gamemode" id="gamemode-select" onchange="fillStatsTable()">
            <option value="5">All</option>
            <option value="70">Quickplay</option>
            <option value="69">Competitive</option>
            <option value="84">Osiris</option>
        </select>
        
        <table class="table" id="stats-table">
            <thead>
            <tr>
                <th></th>
                <th>Total</th>
                <th>Per game</th>
            </tr>
            </thead>
            <tbody>
                {# Dynamically added here. #}
            </tbody>
        </table>
    </div>

    <div class="container">
        <h2>Last Games</h2>
        
        <select name="gamemode-carnage" id="gamemode-carnage-select" onchange="fillCarnageReportTable()">
            <option value="5">All</option>
            <option value="70">Quickplay</option>
            <option value="69">Competitive</option>
            <option value="84">Osiris</option>
        </select>
        
        <table class="table" id="carnage-reports-table">
            <thead></thead>
            <tbody>
                {# Dynamically added here. #}
            </tbody>
        </table>
    </div>

{% endblock %}

{% block content_script %}
    <script>
    
        var playerHistory;

        window.onload = (event) => {
            // Parse query params
            let searchParams = new URLSearchParams(window.location.search);
            let membershipId = searchParams.get('membership_id');
            let membershipType = searchParams.get('membership_type');
            let displayName = searchParams.get('display_name');
            let displayNameCode = searchParams.get('display_name_code');
            
            initPage(membershipId, membershipType, displayName, displayNameCode);
            
            // Callbacks on character select
            
        };
        
        async function initPage(membershipId, membershipType, displayName, displayNameCode) {
            // Set up name
            $('#guardian-name').text(displayName + '#' + displayNameCode);
            
            // Fetch profile for characterIds
            await fetchCharacters(membershipId, membershipType);
            
            // Get characters id
            const characterIds = [...document.getElementById("character-select").options].map(o => o.value);
            
            // Fetch all player stats
            playerHistory = new PlayerHistory(membershipId, membershipType, characterIds);
            await playerHistory.populateFromActivities(); // TODO: populate incrementally for faster loading impression
            
            refreshTables();
            
            {#let statNameCell = $('#stats-table td:contains("Activities entered"):first');#}
        }
        
        function fillCharactersSelect(charactersData){
            let i = 1;
            for (let characterId in charactersData){
                let option = $(`#character-select option:nth-of-type(${i})`);
                option.text(`${bungieAPI.getClassTypeStr(charactersData[characterId]["classType"])}   ${charactersData[characterId]["light"]}`);
                option.attr("value", characterId);
                ++i;
            }
        }
        
        async function fetchCharacters(membershipId, membershipType){
            const result = await bungieAPI.fetchPlayerProfile(membershipId, membershipType);
            if (result && result["ErrorCode"] === 1) {
                fillCharactersSelect(result["Response"]["characters"]["data"]);
            }
        }
        
        function refreshTables() {
            fillStatsTable();
            fillCarnageReportTable();
        }

        function addStatToTable(statName, valueTotal, valuePGA = 0) {
            valueTotal = isNaN(valueTotal) ? 0 : valueTotal;
            let template = `
            <tr>
                <td>${statName}</td>
                <td>${+valueTotal.toFixed(2)}</td>
                <td>${(valuePGA > 0) ? +valuePGA.toFixed(2) : "-"}</td>
            </tr>
            `;
            $('#stats-table tbody').append(template);
        }

        function fillStatsTable() {
            // Get selected character
            const characterId = $('#character-select option:selected').val();
            
            // Get selected gamemode
            const gamemode = $('#gamemode-select option:selected').val();
            
            // Get stats
            let stats = {};
            const period = $('#period-select option:selected').val();
            if (period === "allTime"){
                stats = playerHistory.getStatsAllTime(characterId, gamemode);
            } else if (period === "seasonal"){
                stats = playerHistory.getStatsSeasonal(characterId, gamemode);
            } else if (period === "weekly"){
                stats = playerHistory.getStatsWeekly(characterId, gamemode);
            }
            
            // Empty table rows
            $('#stats-table tbody').empty();

            // Fill table
            addStatToTable("K/D", stats["kills"] / stats["deaths"]);
            addStatToTable("KA/D", (stats["kills"] + stats["assists"]) / stats["deaths"]);
            addStatToTable("Hours played", stats["secondsPlayed"] / 3600, (stats["secondsPlayed"] / stats["activitiesEntered"]) / 3600);
            addStatToTable("Activities entered", stats["activitiesEntered"]);
            addStatToTable("Activities won", stats["activitiesWon"]);
            addStatToTable("Score", stats["score"], stats["score"] / stats["activitiesEntered"]);
            addStatToTable("Kills", stats["kills"], stats["kills"] / stats["activitiesEntered"]);
            addStatToTable("Assits", stats["assists"], stats["assists"] / stats["activitiesEntered"]);
            addStatToTable("Deaths", stats["deaths"], stats["deaths"] / stats["activitiesEntered"]);
            
            {#addStat("KD", +api_result["Response"]["allPvP"]["allTime"]["killsDeathsRatio"]["basic"]["value"].toFixed(2));#}
        }
        
        function addCarnageReportToTable(report) {
            let isoDate = report.date.toISOString();
            const ymd = isoDate.split('T')[0];
            const hm = isoDate.split('T')[1].split(':')[0] + ':' + isoDate.split('T')[1].split(':')[1];
            
            let template = `
            <tr data-instance_id="${report.instanceId}">
                <td>
                    <button class="btn btn-primary btn-carnage">
                        <p>${report.gamemode}</p>
                        <p>${ymd} <br> ${hm}</p>
                        <p>${report.map}</p>
                    </button>
                </td>
                <td>
                    <p>KD</p>
                    <p>${(report.personalKD > 0 && isFinite(report.personalKD))  ? +report.personalKD.toFixed(2) : 0}</p>
                </td>
                <td>
                    <p>KDA</p>
                    <p>${(report.personalKAD > 0 && isFinite(report.personalKAD)) ? +report.personalKAD.toFixed(2) : 0}</p>
                </td>
            </tr>
            `;
            $('#carnage-reports-table tbody').append(template);
        }
        
        function fillCarnageReportTable() {
            // Get selected character
            const characterId = $('#character-select option:selected').val();
            
            // Get selected gamemode
            const gamemode = parseInt($('#gamemode-carnage-select option:selected').val());
            
            // Get number of activities to load
            const n = 10;
            
            // Fetch data
            let reports = [];
            for (const activity of playerHistory.activities[characterId]) {
                if (activity["modes"].includes(gamemode)) {
                    {#const mapInfo = bungieAPI.getPvPMapInfo(activity["referenceId"]);#}
                    const mapInfo = bungieAPI.getPvPMapInfo("1");
                    
                    // To add win and lose score, we must fetch the carnage report entirely...
                    
                    let report = {
                        instanceId: activity["instanceId"],
                        gamemode: bungieAPI.getGamemodeStr(activity["mode"]),
                        date: activity["period"],
                        map: mapInfo["name"],
                        personalKD: activity["values"]["kills"] / activity["values"]["deaths"],
                        personalKAD: (activity["values"]["kills"] + activity["values"]["assists"]) / activity["values"]["deaths"],
                    };
                    reports.push(report);
                }
                
                if (reports.length >= n) {
                    break;
                }
            }
            
            // Empty table rows
            $('#carnage-reports-table tbody').empty();
            
            // Add to table
            for (const report of reports) {
                addCarnageReportToTable(report);
            }
        }

    </script>
{% endblock %}
