{% extends "base.html" %}

{% block content %}

    <div class="" container>
        <h1>Breeky</h1>
        <select name="character" id="character-select">
            <option value="a">Character 1</option>
            <option value="b">Character 2</option>
            <option value="c">Character 3</option>
        </select>
    </div>

    <div class="container">
        <h2>Stats</h2>
        
        <select name="period" id="period-select">
            <option value="allTime">All time</option>
            <option value="seasonal">Seasonal</option>
            <option value="weekly">Weekly</option>
        </select>
        
        <select name="gamemode" id="gamemode-select">
            <option value="all">All</option>
            <option value="competitive">All competitive</option>
            <option value="osiris">Osiris</option>
        </select>
        
        <table class="table" id="stats-table">
            <thead>
            <tr>
                <th></th>
                <th>Total</th>
                <th>Per game</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Activities entered</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td>Kills</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td>Assists</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td>Deaths</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td>KD</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td>KDA</td>
                <td>-</td>
                <td>-</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="container">
        <h2>Recent Games</h2>
        <table class="table" id="games-table">
            <thead></thead>
            <tbody>
            <tr>
                <td>
                    <p>Choc</p>
                    <p>23/01/2023</p>
                    <p>Terre de rouilles</p>
                </td>
                <td>
                    <p>Score</p>
                    <p>150 - 73</p>
                </td>
                <td>
                    <p>KD</p>
                    <p>2.1</p>
                </td>
                <td>
                    <p>KDA</p>
                    <p>2.5</p>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

{% endblock %}

{% block content_script %}
    <script>
    
        var playerStats;

        window.onload = (event) => {
            // Parse query params
            let searchParams = new URLSearchParams(window.location.search);
            let membershipId = searchParams.get('membership_id');
            let membershipType = searchParams.get('membership_type');
            
            initPage(membershipId, membershipType);
        };
        
        async function initPage(membershipId, membershipType) {
            // Fetch profile for characterIds
            await fetchCharacters(membershipId, membershipType);
            
            // Get characters id
            const characterIds = [...document.getElementById("character-select").options].map(o => o.value);
            
            // Fetch all player stats
            playerStats = await new PlayerStats(membershipId, membershipType, characterIds, [5, 70, 69, 84]);
            
            {#let statNameCell = $('#stats-table td:contains("Activities entered"):first');#}
        }
        
        async function fetchCharacters(membershipId, membershipType){
            const result = await bungieAPI.fetchPlayerProfile(membershipId, membershipType);
            if (result && result["ErrorCode"] === 1) {
                fillCharactersSelect(result["Response"]["characters"]["data"]);
            }
        }

        function addStatToTable(statName, valueTotal, valuePGA = "-") {
            let template = `
            <tr>
                <td>${statName}</td>
                <td>${valueTotal}</td>
                <td>${valuePGA}</td>
            </tr>
            `;
            $('#stats-table tbody').append(template);
        }

        function addCarnageReportToTable(report) {
            let template = `
            <tr data-instance_id="${report.instanceId}">
                <td>
                    <button class="btn btn-primary btn-carnage">
                        <p>${report.gamemode}</p>
                        <p>${report.date}</p>
                        <p>${report.map}</p>
                    </button>
                </td>
                <td>
                    <p>Score</p>
                    <p>${report.winScore} - ${report.loseScore}</p>
                </td>
                <td>
                    <p>KD</p>
                    <p>${report.personalKD}</p>
                </td>
                <td>
                    <p>KDA</p>
                    <p>${report.personalKDA}</p>
                </td>
            </tr>
            `;
            $('#games-table tbody').append(template);
        }

        function fillStatsTable(api_result) {
            $('#stats-table tbody').empty();

            addStat("KD", +api_result["Response"]["allPvP"]["allTime"]["killsDeathsRatio"]["basic"]["value"].toFixed(2));
            addStat("KDA", +api_result["Response"]["allPvP"]["allTime"]["killsDeathsAssists"]["basic"]["value"].toFixed(2));
            addStat("Kills",
                +api_result["Response"]["allPvP"]["allTime"]["kills"]["basic"]["value"].toFixed(2),
                +api_result["Response"]["allPvP"]["allTime"]["kills"]["pga"]["value"].toFixed(2));
            addStat("Assists",
                +api_result["Response"]["allPvP"]["allTime"]["assists"]["basic"]["value"].toFixed(2),
                +api_result["Response"]["allPvP"]["allTime"]["assists"]["pga"]["value"].toFixed(2));
            addStat("Deaths",
                +api_result["Response"]["allPvP"]["allTime"]["deaths"]["basic"]["value"].toFixed(2),
                +api_result["Response"]["allPvP"]["allTime"]["deaths"]["pga"]["value"].toFixed(2));
            addStat("Activities entered", +api_result["Response"]["allPvP"]["allTime"]["activitiesEntered"]["basic"]["value"].toFixed(2));
            addStat("Activities won", +api_result["Response"]["allPvP"]["allTime"]["activitiesWon"]["basic"]["value"].toFixed(2));
            addStat("Time played",
                +api_result["Response"]["allPvP"]["allTime"]["secondsPlayed"]["basic"]["value"].toFixed(2),
                +api_result["Response"]["allPvP"]["allTime"]["secondsPlayed"]["pga"]["value"].toFixed(2));
        }
        
        function fillCharactersSelect(charactersData){
            let i = 1;
            for (let characterId in charactersData){
                let option = $(`#character-select option:nth-of-type(${i})`);
                option.text(`${bungieAPI.getClassTypeStr(charactersData[characterId]["classType"])}   ${charactersData[characterId]["light"]}`);
                option.attr("value", characterId);
                ++i;
            }
        }

    </script>
{% endblock %}
