{% extends "base.html" %}

{% block content %}

    <div class="" container>
        <h1 id="guardian-name">Breeky</h1>

        <button type="button" id="btn-clan" class="btn btn-secondary" onclick="">
        </button>

        <select name="character" id="character-select"></select>
    
        <select name="platform" id="platform-select" hidden></select>
    </div>

    <div class="container">
        <h2>Stats</h2>
        
        <select name="period" id="period-select" onchange="fillStatsTable()">
            <option value="allTime">All time</option>
            <option value="seasonal">Seasonal</option>
            <option value="weekly">Weekly</option>
        </select>
        
        <select name="gamemode" id="gamemode-select" onchange="fillStatsTable()">
            <option value="5">All</option>
            <option value="70">Quickplay</option>
            <option value="69">Competitive</option>
            <option value="84">Osiris</option>
        </select>

        <button type="button" class="btn btn-light btn-refresh" onclick="refreshActivities()">
            Refresh
        </button>
        
        <table class="table" id="stats-table">
            <thead>
            <tr>
                <th></th>
                <th>Total</th>
                <th>Per game</th>
            </tr>
            </thead>
            <tbody>
                {# Dynamically added here. #}
            </tbody>
        </table>
    </div>

    <div class="container">
        <h2>Last Games</h2>
        
        <select name="gamemode-carnage" id="gamemode-carnage-select" onchange="fillCarnageReportTable()">
            <option value="5">All</option>
            <option value="70">Quickplay</option>
            <option value="69">Competitive</option>
            <option value="84">Osiris</option>
        </select>

        <button type="button" class="btn btn-light btn-refresh" onclick="refreshActivities()">
            Refresh
        </button>
        
        <table class="table" id="carnage-reports-table">
            <thead></thead>
            <tbody>
                {# Dynamically added here. #}
            </tbody>
        </table>
    </div>

{% endblock %}

{% block content_script %}
    <script src="{{url_for('static', filename='playerReport.js')}}"></script>
{% endblock %}
