@using DotNetBungieAPI.Service.Abstractions
@using DotNetBungieAPI.Models
@using DotNetBungieAPI.Models.Destiny
@using DotNetBungieAPI
@using DotNetBungieAPI.Models.Destiny.Components
@using System.Text.RegularExpressions
@using DotNetBungieAPI.Models.Requests
@using DotNetBungieAPI.Models.User

@inject IBungieClient BungieClient
@inject NavigationManager NavigationManager

<form @onsubmit="SearchGuardianByUser">
    <MudAutocomplete T="UserSearchResponseDetail" 
                     ToStringFunc="DisplayGuardianName"
                     SearchFuncWithCancel="SearchGuardianByPrefix"
                     Label="Guardian name" 
                     @bind-Value="_inputUser"
                     ShowProgressIndicator="true"
                     SelectValueOnTab="true"
                     CoerceText="true" 
                     CoerceValue="true"
                     AdornmentIcon="@Icons.Material.Filled.Search" 
                     AdornmentColor="Color.Secondary"/>
</form>